.env
node_modules
dist
src/public/**
ormconfig.js
src/results.csv
.env.test
~/
src/results2.csv
src/seeds/csv/buyers.csv
src/seeds/csv/buyers.csv
terraform/.terraform/*
*.tfvars
*.tfstate.backup
*.tfstate
